form {
    padding: 20px;
    background-color: rgb(225, 225, 225);
    border-radius: 6px;
    margin-bottom: 20px;
}

form > h2 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;

}

label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
}

input {
    font-size: 16px;
    padding: 6px;
    margin-bottom: 10px;
    width: 300px;
}

select {
    padding: 6px;
    margin-bottom: 10px;
    width: 316px;
}

form > button {
    display: block;
    margin-top: 20px;
    padding: 10px 50px;
    font-weight: bold;

}

p {
    margin: 0px 0px 10px 0px;
    color: red;
    font-style: italic;
}