table {
    text-align: left;
    border-collapse: collapse;
}

tbody tr {
    cursor: pointer;
}

th, td {
    padding: 6px 50px 6px 6px;
}

/* for use with our ngClass dynamic row coloring */
.oddRow {
    background-color: lightgray;
}

.evenRow {
    background-color: darkgray;
}

form {
    padding: 20px;
    background-color: rgb(225, 225, 225);
    border-radius: 6px;
}

h2 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;

}

label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
}

input {
    font-size: 16px;
    padding: 6px;
    margin-bottom: 10px;
    width: 300px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 50px;
    font-weight: bold;

}