<main>
    <h1>View All Artists</h1>


    <!-- we're going to use a template-driven form
         this allows data transfer to TS variables -->

    <!-- this form displays if chosenArtistId == 0 -->
    <form *ngIf="!chosenArtistId">

        <h2>Add New Artist</h2>

        <label for="name">Artist Name</label>
        <!-- [(ngModel)] two-way binds the value in this field to a variable -->
        <!-- we must have a matching name property -->
        <input type="text" id="name" name="formName" [(ngModel)]="formName">

        <label for="type">Artist Type</label>
        <input type="text" id="type" name="formType" [(ngModel)]="formType">

        <label for="founded">Founded In</label>
        <input type="number" id="founded" name="formFounded" [(ngModel)]="formFounded" min="0" max="2023">

        <!-- this button calls the method from our .ts file
             we do not need to pass in data, because we already have it in our TS file -->
        <button (click)="addNewArtist()">ADD</button>

        <!-- this displays the current value of each variable we've bound -->
        <!-- Name: {{ formName }}<br>
        Type: {{ formType }}<br>
        Founded: {{ formFounded }} -->
        
    </form>

    <!-- this form displays if chosenArtistId has a non-zero value -->
    <form *ngIf="chosenArtistId">

        <h2>Update Artist — Artist ID: {{ chosenArtistId }}</h2>

        <label for="name">Artist Name</label>
        <!-- [(ngModel)] two-way binds the value in this field to a variable -->
        <!-- we must have a matching name property -->
        <input type="text" id="name" name="formName" [(ngModel)]="formName">

        <label for="type">Artist Type</label>
        <input type="text" id="type" name="formType" [(ngModel)]="formType">

        <label for="founded">Founded In</label>
        <input type="number" id="founded" name="formFounded" [(ngModel)]="formFounded" min="0" max="2023">

        <!-- this button calls the method from our .ts file
             we do not need to pass in data, because we already have it in our TS file -->
        <button (click)="updateArtist()">UPDATE</button>
        <button (click)="deleteArtist()">DELETE</button>
        
    </form>


    <!-- *ngIf displays an element if a condition is true -->
    <!-- if the array is empty, display this -->
    <h3 *ngIf="!localArtists.length" style="color: red;">No artists in the database!</h3>

    <!-- if the array has content, display this -->
    <table *ngIf="localArtists.length">

        <thead>
            <tr>
                <th>Artist ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Founded</th>
            </tr>
        </thead>

        <tbody>

            <!-- for each artist in our local array
                 create a row in our table
                 the cells in the row contain the fields from
                 that particular Artist object -->
            <!-- can use let i = index to access where we are in the loop -->
            <ng-container *ngFor="let artist of localArtists; let i = index;">
                <!-- we also have access to odd/even (let e = even, e.g.)
                     and can use those instead of index -->

                <!-- ngClass allows us to bind CSS selectors dynamically -->
                <!-- syntax of props within object -- 
                          class name in quotes : condition -->
                <tr [ngClass]="{
                    'oddRow': i % 2 === 1,
                    'evenRow': i % 2 === 0
                }" (click)="chooseArtist(artist)">
                    <td>{{ artist.artistId }}</td>
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.type }}</td>
                    <td>{{ artist.founded }}</td>
                </tr>

            </ng-container>

        </tbody>

    </table>

</main>
