table {
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 6px 50px 6px 6px;
}

/* for use with our ngClass dynamic row coloring */
.oddRow {
    background-color: lightgray;
}

.evenRow {
    background-color: darkgray;
}