<article>

    <!-- whenever you use property binding,
         what's inside the quotes is JS/TS -->
    <img [src]="album.imageUrl" [alt]="album.artist.name + ': ' + album.title">

    <h2>{{ album.title }}</h2>
    <!-- <h3>Album ID: {{ album.albumId }}</h3> -->
    <p>{{ album.artist.name }}</p>
    <ul>
        <li>Genre: {{ album.genre }}</li>
        <li>Label: {{ album.label }}</li>
        <li>Track Count: {{ album.trackCount }}</li>
    </ul>

    <!-- this button, when clicked, deletes this album -->
    <!-- (click) binds the click event to the function in quotes -->
    <button (click)="deleteAlbum()">DELETE ALBUM</button>

</article>