/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-color: rgb(216, 241, 251);
    min-height: 200px;
    padding: 24px;
}